@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }


  .paused {
    animation-play-state: paused;
  }

  .slide-in {
    transform: translateY(0);
    opacity: 1;
  }

  .slide-out {
    transform: translateY(-100%);
    opacity: 0;
  }

  .slide-in,
  .slide-out {
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }


  input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
  }

  .sidebarIconToggle {
    @apply transition-all duration-300 box-border;
  }

  .spinner {
    @apply transition-all duration-700 box-border absolute w-full h-[3px] bg-black;
  }

  .horizontal {
    @apply mt-[10px] relative;
  }

  .diagonal.part-1 {
    @apply relative;
  }

  .diagonal.part-2 {
    @apply mt-[10px] relative;
  }

  input[type="checkbox"]:checked~.sidebarIconToggle>.horizontal {
    @apply opacity-0;
  }

  input[type="checkbox"]:checked~.sidebarIconToggle>.diagonal.part-1 {
    @apply transform rotate-[135deg] mt-[10px];
  }

  input[type="checkbox"]:checked~.sidebarIconToggle>.diagonal.part-2 {
    @apply transform rotate-[-135deg] mt-[-15px];
  }


  @keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-loop-scroll {
    display: flex;
    animation: loop-scroll 60s linear infinite;

  }

  .group-hover\:paused:hover {
    animation-play-state: paused;
  }

}